{% extends "base.html" %}

{% block content %}   
{% set posts_section = get_section(path="blog/_index.md") %}

{% if posts_section.pages %}
    {% set latest_posts = posts_section.pages | slice(end=2) %}

    {% for latest_post in latest_posts %}
    <div class="latest-post-summary">
       <div class="post">
         <h3><a class="link" href="{{ latest_post.permalink }}">{{ latest_post.title }}</a></h3>
          <p>{{ latest_post.content | safe }}</p>
       </div>
    </div>
    {% endfor %}
{% endif %}

<section id="isso-thread">
    <noscript>Javascript needs to be activated to view comments.</noscript>
</section>

<script data-isso="//irc.sizefiction.net/" src="//irc.sizefiction.net/js/embed.min.js"></script>

{% endblock content %}
